<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\PUBLISH\UGPNew_Isfahan_Package</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Ugp</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="2aBkbiN6dKHn9UpWHUvgj/nMmeGwK1BadpsMTOqhiyA=" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Dgi2G9/NdpcDy8khcKX4hZuv0k7mh9AGThylafzRn3OD0Kxf4qjWTPd8KdsDDW+rkOQHPooXTc/w2iZ3fLaE4IoWC5XMC6EIZkPfl41egwu0bzWHH7nAwpZ03ffmUSIwrBGYFAWzbgdzEahHv49gOErgRu0nnM/DFHZGq0CCsTM=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\2aBkbiN6dKHn9UpWHUvgj/nMmeGwK1BadpsMTOqhiyA=_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Dgi2G9/NdpcDy8khcKX4hZuv0k7mh9AGThylafzRn3OD0Kxf4qjWTPd8KdsDDW+rkOQHPooXTc/w2iZ3fLaE4IoWC5XMC6EIZkPfl41egwu0bzWHH7nAwpZ03ffmUSIwrBGYFAWzbgdzEahHv49gOErgRu0nnM/DFHZGq0CCsTM=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="2aBkbiN6dKHn9UpWHUvgj/zKnVVYF0SmUe900FLfSCY=" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="LEDTv6pKaNsD6zotSEHGtjcgi1uyQNL6tch09triRMv5JOdhqFiorpQT/J/T5AJDksDZImYJ1x5hyehwvwFa8U8CY1fggIB+f6TzBrWizfJ2OOgtTrbLdrCyMmNBblGK" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\2aBkbiN6dKHn9UpWHUvgj/zKnVVYF0SmUe900FLfSCY=_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="LEDTv6pKaNsD6zotSEHGtjcgi1uyQNL6tch09triRMv5JOdhqFiorpQT/J/T5AJDksDZImYJ1x5hyehwvwFa8U8CY1fggIB+f6TzBrWizfJ2OOgtTrbLdrCyMmNBblGK" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="mYDs69fEPqRUTozlmHE1dQ==" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="So515jc/YOujaeVPRY2I9qa/4ib9bXgz1T2/VHpK8ZOHrE0AK78JawJTcc8PqJmIGyXfAWEQFUt4NBQM7CtSmqTrz+8H87SzGdUjckrnjLfP/QL3bdrVjuXIZSsa9Kmq1U2EFjoYLxNq81ZJVVPlNPhOeTZ2JD3uJURAODKLJbJ/bmBkZfEBwarceOTRZxVtBERZgd+SkoOjuVFTwY8UZWXeqjTtitN66OIhpxOqjK/BzN6bxlAH1enskYIk7aEfJgmI1oPXCj4/ZK7Sodj+0/GJdE1Prdm1dy0KlyfTGFPeOWV/Qb9P3YpGkDYJaz2uXk16B03itkY2QlVkkXIAQaRx/+1FmdUjL8FyJ2PDwschktV3i5rbdjULfGw2p/XpA4AuglfAFlVLFairfVaz3l5sJ1q5Am3dxSdxv9Is5geg0UprgFOoAdJ0tfdqtAaKd8jjVFrvvt2pCrTfSJ0M3TMOw9JQAafaz/spN5Htkq8=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\mYDs69fEPqRUTozlmHE1dQ==_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="So515jc/YOujaeVPRY2I9qa/4ib9bXgz1T2/VHpK8ZOHrE0AK78JawJTcc8PqJmIGyXfAWEQFUt4NBQM7CtSmqTrz+8H87SzGdUjckrnjLfP/QL3bdrVjuXIZSsa9Kmq1U2EFjoYLxNq81ZJVVPlNPhOeTZ2JD3uJURAODKLJbJ/bmBkZfEBwarceOTRZxVtBERZgd+SkoOjuVFTwY8UZWXeqjTtitN66OIhpxOqjK/BzN6bxlAH1enskYIk7aEfJgmI1oPXCj4/ZK7Sodj+0/GJdE1Prdm1dy0KlyfTGFPeOWV/Qb9P3YpGkDYJaz2uXk16B03itkY2QlVkkXIAQaRx/+1FmdUjL8FyJ2PDwschktV3i5rbdjULfGw2p/XpA4AuglfAFlVLFairfVaz3l5sJ1q5Am3dxSdxv9Is5geg0UprgFOoAdJ0tfdqtAaKd8jjVFrvvt2pCrTfSJ0M3TMOw9JQAafaz/spN5Htkq8=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)2aBkbiN6dKHn9UpWHUvgj/nMmeGwK1BadpsMTOqhiyA=-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)2aBkbiN6dKHn9UpWHUvgj/zKnVVYF0SmUe900FLfSCY=-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mYDs69fEPqRUTozlmHE1dQ==-Web.config Connection String" />
  </ItemGroup>
</Project>