<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        height: 42px;
    }

        /* Style the buttons that are used to open the tab content */
        .tab input[type=button] {
            background-color: inherit;
            float: right !important;
            border: none !important;
            outline: none !important;
            cursor: pointer !important;
            padding: 9px 14px 14px 14px !important;
            transition: 0.3s !important;
            border-radius: 0 !important;
            margin: 0 !important;
            height: 42px !important;
        }

            /* Change background color of buttons on hover */
            .tab input[type=button]:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab input[type=button].active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        /*height: 100%;*/
    }
</style>

<fieldset id="divLetters" class="GamBox" ng-class="{'disabled':GamInputData.EumRequestStatus!=5}">
    <div>
        <!--<span ng-bind="GamInputData.MustUploadLetterCountNew"></span>
    <span ng-bind="LetterList_New.length"></span>
            -->
        <!--<span ng-bind="GamInputData.tmpConfirmLetterNewOk"></span>-->
        
        <input id="btnSendToShahrsaz5" ng-disabled="(GamInputData.IsCouncil || GamInputData.MustUploadLetterCountNew == undefined || GamInputData.MustUploadLetterCountNew < LetterList_New.length) || GamInputData.tmpConfirmLetterNewOk==true " type="button" class="btn btn-success" style="padding-right:30px;float:right; padding-left:30px;" ng-click="SendToShahrsaz(5)" value="ارسال پرونده به شهرداری" />
        <span id="lblError" ng-bind="Prop.ErrorMessageComment" ng-style="{ 'color': ErrorColor }" style="color: red;float:right"></span>

    </div>

    <div style="padding-left: 0px; float:right" class="col-md-12 col-xs-12 PanelVs GamBoxFrame">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span ng-bind="Prop.CurrentPageName"></span>
            </div>
            <div class="info" ng-include="'Config/ParvanehSh/infoText/PGam9_Zabete.html'">
            </div>

            <div ng-show="GamInputData.IsCouncil">
                <span class="warning2" style="color:red">پرونده سمت شهرساز است . بعد از تایید برای شما پیامک ارسال میشود</span>
                <hr />
            </div>

            <hr />
            <div ng-class="{'disabled':GamInputData.IsCouncil}">

     
                    <span>نمایش نامه های مرتبط با پرونده </span>

                    <table class="GridView" style="overflow-x: auto">
                        <thead>
                            <tr>
                                <td class="" style="border-left: 1px solid white">نام مدرک</td>
                                <td class="" style="border-left: 1px solid white; width:250px">بارگذاری فایل </td>
                                <td class="" style="border-left: 1px solid white">توضیحات شهرداری</td>
                                <td class="" style="border-left: 1px solid white">تایید شهرداری</td>

                                <td class="" style="border-left: 1px solid white">تاریخ تایید</td>


                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in LetterList_New">
                                <td>
                                    <span ng-bind="x.LetterName" />
                                </td>
                                <td>
                                    <div ng-class="{'disabled':x.Sh_OfficeLetter.EumConfirm==1}" id="DivUploadNew{{$index}}"></div>
                                </td>

                                <td>
                                    <span ng-bind="x.Sh_OfficeLetter.Comments"></span>
                                </td>
                                <td>
                                    <img src="Images/Tick2.png" ng-show="x.Sh_OfficeLetter.EumConfirm==1" style="width:20px; height:21px" />
                                    <img src="Images/Error.png" ng-show="x.Sh_OfficeLetter.EumConfirm!=1" style="width:20px; height:21px" />
                                </td>
                                <td>
                                    <span ng-bind="x.Sh_OfficeLetter.ConfirmOrganizationDate"></span>
                                </td>



                            </tr>
                            <tr ng-show="LetterList_New.length==0">
                                <td colspan="8" style="text-align: center">
                                    <span style="color: red">موردی یافت نشد</span>
                                </td>
                            </tr>
                        </tbody>

                    </table>

      


            </div>
        </div>
    </div>

</fieldset>

<script>
    $('#DivLetterIn').show();
</script>