<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<sectionGroup name="bundleTransformer">
			<section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
		<section name="microsoftAjax" type="BundleTransformer.MicrosoftAjax.Configuration.MicrosoftAjaxSettings, BundleTransformer.MicrosoftAjax" /><section name="yui" type="BundleTransformer.Yui.Configuration.YuiSettings, BundleTransformer.Yui" /><section name="uglify" type="BundleTransformer.UglifyJs.Configuration.UglifySettings, BundleTransformer.UglifyJs" /></sectionGroup>
	</configSections>
  
  <connectionStrings>
    <add name="2aBkbiN6dKHn9UpWHUvgj/nMmeGwK1BadpsMTOqhiyA=" connectionString="Dgi2G9/NdpcDy8khcKX4hSY6HxsrYWR1+P1XANdGzz1hbZNk8He/gO8e/x2ON5NIeKNv2gXHzOK/awhTMNoenR4v0IPP+5vcHyTjrr+HZ2nrKQbH0GRy6mn+93SpqEpiPhsgGRwv3ekdchbfGVz4cZWRpvuqFvOOJF+wXV8k25E=" />
    <add name="mYDs69fEPqRUTozlmHE1dQ==" connectionString="So515jc/YOujaeVPRY2I9qa/4ib9bXgz1T2/VHpK8ZNK3Be7LoIU0votpp2sMCFXA0FCJxlecvhC7kibTpF4PLc2nErqYHjIyKvdIwQpmGc5eZ4JBYD7BmwTDFHrnwjyO3SF3pAr4DFod8H1D+dTZ7CFkp3ePbP2J4UMHcATdr/GJ5H58c/O+X1yF/8gUuYQdDgLAdTOc51D6AlltS1XW9ios9A4Jt5MuUz0DB9smmhWDv/znVgjTNYT1QDSoSTwYGya6P+V9+1lfXyiOzSR2tBLwMdNV6z9wOVrJmPaSjP3+WYgfOrkZA6psDIZX+dTF4YA4oErZbTgdVLZR4bd4LwXO4QPrIQYctuZfNwDPIQcieALqu31lrcFcMsOn+HIhMoNOxHyyo1QBeyQRUhq0g9AxyosOiAou9I2o3WRjB6NU5NEPs8QF9J4W/m4iAB8CHuMagMr4b9hCcCNub0G6g==" />
    <add name="2aBkbiN6dKHn9UpWHUvgj/zKnVVYF0SmUe900FLfSCY=" connectionString="LEDTv6pKaNsD6zotSEHGtjcgi1uyQNL6tch09triRMv5JOdhqFiorpQT/J/T5AJDksDZImYJ1x5hyehwvwFa8U8CY1fggIB+f6TzBrWizfKaLIKeVeV/G8kFq0vjF9X0" />
  </connectionStrings>
  <appSettings>
    <add key="5KaQJstIoTWeUYEX5EW5kQ==" value="7+M1mDX7sC3a7PjagIjcudjPGmYOZ00kNlFBo2dSf6Tqwvll1T+NxB6uaD6xmwCIqc2QEfJ1h3HSia5OW9dl1g==" />
    <add key="mHImG/PjoGxzpw5IcGFN5Q==" value="7+M1mDX7sC3a7PjagIjcuSNjCHEmm5Ep19wh8vDQIgaj49NVLqZ87UmmmqUrrgJ6Mt5HNK2DISLIdiUeTbPo/Q==" />
    <add key="BXG//C8sVX9bn2nm2yXjtf+sMDk6WxWxVfCKRXAlH6w=" value="rTm3RRjA5J3NoCbDC7U+rw==" />
    <add key="onqRWLBsvHPmsgsdkvpHPub3L7Id9zkypCM9T2U1WS4=" value="7+M1mDX7sC3a7PjagIjcufhrOgiCR8vAs993BJcdE/eBGTC43n3/i3KXwgzBnCKOLtc87Xk+EYV4U1Ol4sYVWusId45AYhFLbOH8xzQDu1Q=" />
    <add key="oyNvpVWLsxAts44DKvd9G8fHXv2KTwpMc6d+QW/TU93YsopTATEFiSTPaqQbAI5i" value="AEKot33JUdjcab3w8RjUs+bJDGUuRMnXBMtDSQ27VZN3vy8nCRUh7aawgIC0Dq+a" />
    <add key="UNx3BhgOpbfZIy09ju8ovbo0tHuzuBX79CJkrugsh5k=" value="XnX7YIxyTaMiMnq9ty0cFzmmQSbV2vptnkLEQMOPr2qPDtns/D8UYVemHjlG2wgq" />
    <add key="oyNvpVWLsxAts44DKvd9G66KvywSOUxdtqTUN/O6Fbs=" value="C6fFg3BDNYQeXEjIT6Dcn4jEWNAKcC1mfcrd4AIzVb7MyCBUIiKlNdwIeHBAsHh3" />
    <add key="bed8RUEkYF05+LGv5lmPuQHCQtXgjMjxK1oqu97ZdOo=" value="VUUWi7/s6ab4Wm5niUCEfOLolXYZMQFqF3ps8PsYobKvp2Ehu5EQK3pCCmJ0PdcPEOHycS5NZmdB2B/L4/CkFnDw39KlIIZbqm/xuewapGQ=" />
    <add key="XC5KD60qcXi5/nauh347dg==" value="0Y2x6uG+KexLMFJa/aCAvxdaGJ2eFq+eAjhJreXw8b1KogyecYqNtOqEJ2NR7fDC2oJcAuVKpnxUI6K1O1tTHw==" />
    <add key="wupAUIgJ5AbsYrtKYjnIUQ==" value="BO+RL9kujdUWNFVPu74+ng==" />
    <add key="twgTyQExmrdv/GI8J9yt/g==" value="zNW5eWHY5oUquGA0QLMqj6CY+QnWhyTP1bIJIZHpRedyKc88+mEj37LL7SZrTjIv" />
    <add key="8nwPWxf3yHfyJ8wwXBIGfw==" value="RpO8JDVLC3QvxAAjvM10X0rLP9yg0m3YY2QLYANmGR0472u9Ar7QHz8EIdBHS4PG" />
    <add key="DtodecJYpfc8JIyG2j9WmQ==" value="BO+RL9kujdUWNFVPu74+ng==" />
    <add key="zptFmj8xZ6X3O8Jhc6qrSQ==" value="4oppWS1F3nILRQOjD5OSmQ==" />
    <add key="FOAgZt+G53GHrBZanVnjft6jPn0TpRtByEJT14cOAbM=" value="BO+RL9kujdUWNFVPu74+ng==" />
    <add key="l7USNrialvoA7hyz+b1h1Q==" value="7+M1mDX7sC3a7PjagIjcuWNBQKia1XESecEzDXJ6/UtcUPVKoJO3gR5F/+4x0abHzipepwoswDkZSgBZnfCTa6+y9FHKjvK5PK9ubW585/s=" />
    <add key="yglk1KppWMm6ce93w8UuYkoCiyBarq/5v8v6LvcJqNc=" value="AzrjEUbuVkuKK2tFSy3wJA==" />
    <add key="IK6UpG5bfmT7B1qk7K0eKxsJTo6mKojGGW4pZBNOdpc=" value="Lfc70plbXaxMH50uJS3JMlUl3SS9N40Ur26xz2eUmkE=" />
    <add key="ryQcHx3parwSODO0sflaLQ==" value="ZA2X/PRg7bRhEOUqWLDUShyFGPCL9IZAkjruSPpLgTqjnURqk4cM8+UCWMG8MPhG" />
    <add key="wCkOQ69zvL+TVGLFLxY2qQ==" value="9xDhvOm3+CgF0a1SUBMITFh9oPIq6OzwuLKZgMt6ASS6fAfZzkEgKDUZVh7NJkoz" />
    <add key="7f0HB4U+ImytIhWPm5yKMw==" value="NX+GEK617fZBRUo0sxS+OQ==" />
    <add key="qmO7qWeCDm2xEl3/qyGNQg==" value="5sgGRBAi8grFi6PIbBypU8lO1KBSqFepl2h2ZoQPSqx/OPsqj69RVc7FVvkB7mFCo0TyhvYg891pfcgFbGcHNM8mDF6z5lW3xC2UWqx69El+NjYeqqehP/QqofEv4RtH6Hi6ilh/PIIAar7tODZSdz/FXl00+YKYKgDKchXsmcEL5vCFPr15fT7TYeNm78v8" />
    <add key="EesqCJp05JLtgD2fKw2ESDhMkhVo0CXkbKZsuO7nr2k=" value="GZ21INkOL/pkRQnh9i328w==" />
    <add key="rl+92hRzBnfQ9F6Y2zJcKQ==" value="riIfwp7AulBNFJkONLNaDHPr4NSmsuhQ9Uh9dPfD3NXLUEmLNC/iNPVgxNb4fXGe" />
    <add key="E3Kdo4SkNBb9Vyznlg3wKA==" value="Qv34eBPA5l4S3xLo1oCgbaJADPek76uWrsVALhajTAadFblv/yoOC7bOi9ThNVj2xueDEORymAFq2P/PJDJxrq47eHXmbaKe+26h7UR6+cPQWSvbTpwUcbotdsnfjs1tn1xx5VJWuOQPAW1IHfkhu4dyHscCjuwcXAR4/QhMsA6Qp7POHAdYhrY8g+75T9axEZF6Wo5Tv+M8PWDjCiKNNQ==" />
    <add key="h2WCd/E8FQXYgwQpWzVx093dcLLOjhUYDyjUy0cJSuw=" value="1vY+sWwtPxLuGA1gJoWiGg==" />
    <add key="ci+OPCDpCioSirV4h64zWA==" value="rui5MLX9dOJE7SRVSTeEkTkAeseWUXLMaXdDpgOZ+io=" />
    <add key="Hniip0ZqrwqFIqmhH/T9Hg==" value="aPYx3CK03u9mRWdy3GULMBi6GF1geys2g/EZKncX3W0=" />
    <add key="ervBqznlLOaEaj3+hfqApg==" value="aPYx3CK03u9mRWdy3GULMMS6ija0nubKyOecRm7D6Zfou4BM7MqpPK8m1Uo/47S2SiHHGPScMPSL0T6omudSezo6oh5cnmqAIAvEQaylGQFeCEg1KgUCMnJ1wxuzJdLG" />
    <add key="bed8RUEkYF05+LGv5lmPuRQhtDzXk+kBbHi3UJ+c1E8=" value="JrsFVjHf2Qh4zgShT7WfuDf3PBfktiDBgr1yCH+ZzUgxcHH0eQ7e2yQV6G5XAkKJ" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" requireSSL="false" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <pages enableViewState="true" viewStateEncryptionMode="Always" enableViewStateMac="true" />
    <trace enabled="false" />
    <compilation debug="true" targetFramework="4.8" />
    <!--<sessionState cookieless="UseCookies" cookieSameSite="Strict" mode="InProc" timeout="600" />-->
    <sessionState mode="StateServer" cookieless="false" timeout="600" stateConnectionString="tcpip=127.0.0.1:42424" />
    <authentication mode="Forms">
      <forms loginUrl="default.aspx" cookieless="UseCookies" cookieSameSite="Strict" protection="All" timeout="600" />
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
    <httpRuntime targetFramework="4.8" enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <!--<security>
      <requestFiltering removeServerHeader="true" />
    </security>-->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="AuthorizationModule" type="Safa.Modules.Authorization.AuthorizationModule, Safa.Modules.Authorization" />
    </modules>
        <staticContent>
            <mimeMap fileExtension=".dat" mimeType="application/dat" />
        </staticContent>
    <!--<rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="JsonBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="WrappedRequest" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding sendTimeout="10:00:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_ISrvNationalCodeInquiry" />
        <binding name="BasicHttpBinding_ItaskService" />
        <binding name="secureHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBinding" />
        <binding name="webHttpBindings" transferMode="Streamed">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.100.170:7000/Task/TaskService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ItaskService" contract="SrvTask.ITaskService" name="BasicHttpBinding_ITaskService" />
      <endpoint address="http://192.168.100.170:7000/SrvNationalCodeInquiry/SrvNationalCodeInquiry.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISrvNationalCodeInquiry" contract="SrvNationalCode.ISrvNationalCodeInquiry" name="BasicHttpBinding_ISrvNationalCodeInquiry" />
    </client>
    <services>
      <service name="UGP.UI.SafaAuth">
        <endpoint contract="UGP.UI.ISafaAuth" binding="basicHttpBinding" />
        <endpoint contract="UGP.UI.ISafaAuth" binding="webHttpBinding" address="JSON" behaviorConfiguration="JsonBehavior" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
			<codeBase version="13.0.0.0" href="path\to\newtonsoft.json.dll" />
			<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
		</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.21.0.0" newVersion="3.21.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
		<core>
			<css>
				<translators>
					<add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
				</translators>
				<postProcessors>
					<add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
				</postProcessors>
				<minifiers>
					<add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
				<add name="MicrosoftAjaxCssMinifier" type="BundleTransformer.MicrosoftAjax.Minifiers.MicrosoftAjaxCssMinifier, BundleTransformer.MicrosoftAjax" /><add name="YuiCssMinifier" type="BundleTransformer.Yui.Minifiers.YuiCssMinifier, BundleTransformer.Yui" /></minifiers>
				<fileExtensions>
					<add fileExtension=".css" assetTypeCode="Css" />
				</fileExtensions>
			</css>
			<js>
				<translators>
					<add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
				</translators>
				<minifiers>
					<add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
				<add name="MicrosoftAjaxJsMinifier" type="BundleTransformer.MicrosoftAjax.Minifiers.MicrosoftAjaxJsMinifier, BundleTransformer.MicrosoftAjax" /><add name="YuiJsMinifier" type="BundleTransformer.Yui.Minifiers.YuiJsMinifier, BundleTransformer.Yui" /><add name="UglifyJsMinifier" type="BundleTransformer.UglifyJs.Minifiers.UglifyJsMinifier, BundleTransformer.UglifyJs" /></minifiers>
				<fileExtensions>
					<add fileExtension=".js" assetTypeCode="JavaScript" />
				</fileExtensions>
			</js>
		</core>
	</bundleTransformer></configuration>