<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="9vFiSUoHS7+KG5iXINtsL2iLVPv/2AFz36UhdROVRTo=" connectionString="Dgi2G9/NdpcDy8khcKX4hYlInq3gjliyIAVUB05JzosOxaPdjYgWpTQ8FEAS9xoAKDqt4nDlGzJQY7Bg7ONuXKfOQj/H/duRZfqObPANhaBoIVGC5L6yu0GaWHYy+sr85pVNoLWJxxrzfg+xbil+mr75p87xXWFWZdzorrsg0X4b4pUzLgM+eeVsur1kqP0aEdScMmagXTUnbkQvwflaPw==" />
    <add name="2aBkbiN6dKHn9UpWHUvgj/nMmeGwK1BadpsMTOqhiyA=" connectionString="K+iPoefmNWg4RuRb7zhmUcLkXA3ihKhdrimZmmK5mbQlFGkTKgUJw6dnKkhf1w3TKsk0OhnrVuN7PWH/aXXaHoe5ydRM2WJJ9mokCO8Qqv63IQe7Qya5EtleLHyIN5TUBGBwOQ/TSPT5E+AuhEebAw==" />
    <add name="mYDs69fEPqRUTozlmHE1dQ==" connectionString="So515jc/YOujaeVPRY2I9iqKTLPh9PE9dQl2jzQwZNL6b6tAF4r19NRLZ+dC4q/HbhczXYbdl0h4vHBekN7H8mOSGkdbkqdFtwGc4GUOzTXGojtyFjjVqaQixz9vXei3sVaPTMpAOEuBMEJFPPb2t57gFx34Oa+OYYpM9T32xFPMRF9L6J+/PHf0qTx1RUi9K2IZ09VLDmgopVwr/B2bd5XZviAwpI5jQ2LTJYx71+cgzmGehpdCpl8WXj5L0ko3EkQJVWi8Sxf0kO3JzSGJ2td86FBcmGg8OO3E7S9jobqkSMP8pxAvE7qVCdSFNZa/Yv8Zy7SiieknJXE6pu0DhGSgAmHbeG55+a/CdW33D3BRYMvN9QEdUI3uh5J1pem4RvCRWNWB35H7lAS9u+GJua1cuezqS2VP3rQLViosOLoHrznkV3utYCDK20L7OWMFJ5xEMPpPuefCSxw8ISF40g==" />
    <add name="RDhP+chvpAUHfUf3yCXG2pKz+HCvstZWgKto/M6xTcU=" connectionString="Dgi2G9/NdpcDy8khcKX4hSY6HxsrYWR1+P1XANdGzz1hbZNk8He/gO8e/x2ON5NI2bpk0ARziokdxwRCfp/xumlBYYpO941b9q63sK3wcVv+xEGpO7z74NZcvZ01LPRgjrTFvt7qVk8dFrHg4GdFo35yhtlYX20qfLNWF/WdWVCecgo8VhiOOjPgmbvO51Zz" />
  </connectionStrings>
  <appSettings>
    <add key="5KaQJstIoTWeUYEX5EW5kQ==" value="CyVIF0uVDkpIakv7lpdJezkxV/zWx+78/NA4B5DyGHAdA0+a3f1SlsSUmZtAuHvA9Nio70t4VaTJ788kBX+tag==" />
    <add key="mHImG/PjoGxzpw5IcGFN5Q==" value="tfLqqpMZnfGObSSqGptsIMakm35GsEm3bRV4xYTkgBBTyhIC2SjYgKEE7COFrikS6SN9ndUFmyeMGXpYFBlRaw==" />
    <add key="BXG//C8sVX9bn2nm2yXjtf+sMDk6WxWxVfCKRXAlH6w=" value="rTm3RRjA5J3NoCbDC7U+rw==" />
    <add key="onqRWLBsvHPmsgsdkvpHPub3L7Id9zkypCM9T2U1WS4=" value="CyVIF0uVDkpIakv7lpdJewhhCyC4IQGSfif2X2u9ZQMinassu3EJvsFbOs4k3YxRxNI68RT+iuMaWfpqbVPyEw==" />
    <add key="A+nixf49uBLwRpiuHYcGkA==" value="9oEXQPscZy0pYPmZoWPzIDgJ3NJ30AZdXGNUtImtfv/H8JhhO2rmbHvTXWNzzZYs" />
    <add key="yGu8hIOMxW8K1E8EDyXW5A==" value="9oEXQPscZy0pYPmZoWPzIPbcLiO1v7IxLQcDYDBinv6SryAzxkzm6RQpbw8mH2gd" />
    <add key="oyNvpVWLsxAts44DKvd9G8fHXv2KTwpMc6d+QW/TU93YsopTATEFiSTPaqQbAI5i" value="Hcjt5JV77k7VqpHd0bXdWnEwsfC7AsaJZ1n2Y1S8lauK0BcAgAzqibYjNFOY7am0" />
    <add key="dnrr+ytQw/2/csNotWemaw==" value="CyVIF0uVDkpIakv7lpdJe8lgrA7tGUOyMXnsFj47VVk2jHCihd0WOCDxQ6jcdRXm" />
    <add key="GgycJSjL8wK0F1GXd4H+1w==" value="9I/rEnNklvNFUypPST9C/g==" />
    <add key="INCKdL1kOHLcsoyURMZuP58FEKA05pif4YpxAlgYII8=" value="9I/rEnNklvNFUypPST9C/g==" />
    <add key="nuWRDe1Neem6UwyL20l0JQ==" value="ndFexOS7WfNRm21gxHGD0Q==" />
    <add key="UNx3BhgOpbfZIy09ju8ovbo0tHuzuBX79CJkrugsh5k=" value="7+M1mDX7sC3a7PjagIjcuWSLDD/qmd6zG8uoW6Oz9Gq66ciWIp1+EDkezGr6dzhx7EibY5kReejTzh++C6i2Ig==" />
    <add key="oyNvpVWLsxAts44DKvd9G66KvywSOUxdtqTUN/O6Fbs=" value="Aobb7fBaFlU4/wTO6yw4SlYl0QNa3NpqR7yp3pJmeZYVOJU7hofbSRyJgk6+rDE7" />
    <add key="bed8RUEkYF05+LGv5lmPuQHCQtXgjMjxK1oqu97ZdOo=" value="CyVIF0uVDkpIakv7lpdJe3VbMGYGNMZ7PSLpxJIUHL4qhQUaA6cLxm/5QBYQ1YxJqzX3fC9wlQh7t/oHy8Ga+pdNzbcg8gZPujxJhiwj0dM=" />
    <add key="0WUDD4jqmxAfnU50ZnKJkQ==" value="CyVIF0uVDkpIakv7lpdJe5dbKDRX4FKhdkGcnCMQF0ZLXb4YMDB5McvWB6FqttE98ASTKPil0O9eb/xYoyNUEA==" />
    <add key="wupAUIgJ5AbsYrtKYjnIUQ==" value="kjdxBWt4y6o7Nsb6bWBgUA==" />
    <add key="XC5KD60qcXi5/nauh347dg==" value="0Y2x6uG+KexLMFJa/aCAv8UvE6tfnlLNLwUHOVx88qbfCRo3CRHtIFw37+q/zrvuhwjEdhMnZMypPfuB13seLw==" />
    <add key="onqRWLBsvHPmsgsdkvpHPrW9K44ZQiW22pSnND6I9wA=" value="7+M1mDX7sC3a7PjagIjcuTbLExuTnM02yrUpqLhogKgXwXGe7zBFdoJ7eBC+cVqmZtic7nE2xcyi594pPb3xDCAH/v8yXYyZkBokJ00nY5E=" />
    <add key="8nwPWxf3yHfyJ8wwXBIGfw==" value="XnX7YIxyTaMiMnq9ty0cF/qMMGKgU1nuv31nwcfMwxK7jkjMO6VuSs/iv/qdx5tU" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
        <!--500000-->
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <customErrors mode="Off" />
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
      <add name="AuthorizationModule" type="Safa.Modules.Authorization.AuthorizationModule, Safa.Modules.Authorization" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
      <remove name="RadCompression" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
      <add name="AuthorizationModule" type="Safa.Modules.Authorization.AuthorizationModule, Safa.Modules.Authorization" />
    </modules>
    <handlers>
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="App_Data" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOCRService" />
        <binding name="BH_SafaESPService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.100.163/OCRDetection/Services/OCRService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOCRService" contract="SrvImageDetect.IOCRService" name="BasicHttpBinding_IOCRService" />
      <endpoint address="http://188.253.0.147:7777/safaesp/safaespservice.svc" binding="basicHttpBinding" bindingConfiguration="BH_SafaESPService" contract="SrvEmail.ISafaESPService" name="BH_SafaESPService" />
    </client>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp from="safa.rayaneh@yahoo.com" deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.mail.yahoo.com" port="587" password="123456789abc" userName="safa.rayaneh@yahoo.com" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
<!--agar gmail bood, "smtp.gmail.com" migozarim-->