<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="caEpP3a8f0c/bxW3+tdqLgrbzDqj3fAV+ug8HJqtwPM=" connectionString="LEDTv6pKaNsD6zotSEHGtsJFVebz4VC0imw31oJavS6vm8ubhT2JjksJhkCkqWKYJZsWzkP3Q+yhxnWpQhq10A==" />
  </connectionStrings>
  <system.web>
    <!--<sessionState cookieless="UseCookies" cookieSameSite="Strict" mode="InProc" timeout="600" />-->
    <sessionState cookieless="UseCookies" mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" timeout="60" />
    <authentication mode="Forms">
      <forms loginUrl="default.aspx" cookieless="UseCookies" protection="All" timeout="600" />
    </authentication>
    <httpModules>
      <add name="AuthorizationModule" type="Safa.Modules.Authorization.AuthorizationModule, Safa.Modules.Authorization" />
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" verb="*" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <pages buffer="true" validateRequest="true" controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <appSettings>
    <add key="iN3AL2RBZo70gr48hiT6gg==" value="1iqcFpJMVpwI+Cgz0sF4siIQd54mjlIy4iyGkpt96m7zNRzz5Yd6LtUk+dHsJo1b03K7vWnn9sX5OHxtCeH6rSFqVVTG+O0mxrUJUGN6rQ5VQwhtJQbtLXCYLS8KrxvnOoQzZ5Qr26Erodj8e+2lXS5ESf+xtqB83WWRdeAq6oKGrFtjwQ5/7UBrRw1QqlcqXyV6IlhUbQO72h3babtLxtJYnCGMjXQ/pbWXZM+AJA2qkLG4lBaeE2NuEz5JvGWqLWr3VYzYEBO4fbDzNsxeDPe9LW2oTAh5df7q4lHURPr1tTPYqA1Hm5+0uorWnH92O+rJknCPgXSQx53e1fQgLY/hkqJIQoLl5hi2Ck9w1hM7usnP9dAmu4GADAd+54vAAjVibr+8SmFIcDy+nYAxUg==" />
    <add key="DtodecJYpfc8JIyG2j9WmQ==" value="BO+RL9kujdUWNFVPu74+ng==" />
    <add key="93k832bIQ5FX1ZdHmzGpNw==" value="K+iPoefmNWg4RuRb7zhmUcLkXA3ihKhdrimZmmK5mbQfWzcj5VHvyIL4bZG2UmiNxhA8D2gJY6jtNU7a0ahNsHzfdzBhl1g7XNJZ6WVVkm6N73dSaCtvAT2X5ZhBUsQUschE8Xzw1cEB3p1AHopJg6xFOTxwj64C21OZSgxUSkWH6S2+A26yuGCJXG/Ccrzs" />
    <add key="m94fqbqI7dNOkfCOLfL/GQ==" value="G8PVPKJ8XPq9Peu+XfxmAVG4Ju+q04+IBYa60EYoSBW9wTWu1uFVOCTriDVDk6LL0ItKPEODffePgKEoO/YdAntv8inaGjEZ0SuBjggIf6rTsS3QCRQf0NzqxiIYMakUw8Yk4n7y47WZhx4MejM+twEq0YtXVSjyGOyGeV3A2mWYZ4MPZakmBHX4E3VpvvsS" />
    <add key="ST3RZi+KllHlhGJ/rLJD7daSVEWs5rvUcO0CP311iGk=" value="BO+RL9kujdUWNFVPu74+ng==" />
    <add key="Jj2oDvQK6u15TRn7et4JiA==" value="tfLqqpMZnfGObSSqGptsIMakm35GsEm3bRV4xYTkgBBTyhIC2SjYgKEE7COFrikS6SN9ndUFmyeMGXpYFBlRaw==" />
    <add key="wupAUIgJ5AbsYrtKYjnIUQ==" value="GZ21INkOL/pkRQnh9i328w==" />
    <add key="I0mNqVqtHkgkfXEee5yqJoV+a2EI2wkCuz/piTMVkC4=" value="GZ21INkOL/pkRQnh9i328w==" />
    <add key="oh+ZMAfX3JpKo32pMau3FA==" value="VF4OVEG3xClx4pdMgslF/nWe/6cNtmdUMwgscC1ptzw=" />
    <add key="BQ/qdN4wf2c0iQiSVJ3pEw==" value="ebOv0Sd0a/cAM3qKFPK9PQ==" />
    <add key="zptFmj8xZ6X3O8Jhc6qrSQ==" value="1w+F9254c+fYbBs0JZI1ow==" />
    <add key="9SzX5WxjmUznMBRR+0zpHg==" value="TynacUPBCVupe7lWWrB1MN0zbYrr++q3ShuLAXNjob8=" />
    <add key="XxRcROzI1n+mWca/inQirs3t4gCWNue/v865k1WM+CU=" value="PGDUfzFqhdr3hlSBjgQSazp4dKfPyp82bTUi2DKuihDJAvexZ8xSs44Rku2F9eeBzCD4k9mLt6k33uxBpMQFBTyRttX+NtTBOewi7hH+d8fwIqcL/ULg6V94M5XBJwu5u1jLD43km1fKDKBFImRoETA/kqzQBamw/5eeboiU2w9K3LqJ6dqx8eithkUJZUvVRxsfRttzKqW4HK/geulq4TDxoDGFLYgAok6K5PeYBE7mVbpOYrz8FAegGom4tgbWkY7XXp4+m1ITYHBM0PrYgg==" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISecurityWCF" maxBufferPoolSize="2147483647" transferMode="StreamedResponse" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_AuthenticationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Security8.Web/Service/SecurityWCF.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityWCF" contract="SrvSecurity.ISecurityWCF" name="BasicHttpBinding_ISecurityWCF" />
      <endpoint address="http://maps.shiraz.ir/Security8/Authentication.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AuthenticationService" contract="SrvAuth.AuthenticationService" name="BasicHttpBinding_AuthenticationService" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="AuthorizationModule" type="Safa.Modules.Authorization.AuthorizationModule, Safa.Modules.Authorization" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" />
    </handlers>
  </system.webServer>
  <!--<system.net>
    <mailSettings>
      <smtp from="m.labbaf@gmail.com" deliveryMethod="Network">
        <network
            defaultCredentials="false"
            host="smtp.gmail.com"
            port="587"
            password="3734550xx"
            userName="m.labbaf@gmail.com"
           />
      </smtp>
    </mailSettings>
  </system.net>-->
  <system.net>
    <mailSettings>
      <smtp from="m.labbaf@yahoo.com" deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.mail.yahoo.com" port="587" password="******" userName="m.labbaf@yahoo.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>